:root {
    /* --primary-color: #007CC7; */
    --primary-color: white;
    --secondary-color: #36363c;
    /* --secondary-color: #203647 */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: source-sans-pro, sans-serif;
    color: #333;
    /* color: white; */
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

/* img {
    width: 100%;
} */

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}


a {
    text-decoration: none;
    color: #333;
    /* color: white; */
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

/* HomePage */
.homePage {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}

.homePage-text h1 {
    margin: 0;
    font-size: 4rem;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 8px;
    letter-spacing: 4px;
    animation: slideInFromLeft 1s ease-in;
}

.homePage-text h2 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 525;
    font-size: 2.1rem;
    color: #817B7B;
    /* color: whitesmoke; */
    letter-spacing: 6px;
    animation: slideInFromLeft 1s ease-in;
}

.homePage::before, 
.homePage::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--secondary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);

}


.homePage-text button {
    background: white; 
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 10px;
    font-size: 20px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    color: black;
    border: 4px solid black;
    animation: slideInFromLeft 1s ease-in;
  }

  button:hover {
    background: black;
    color: white;
}

/* About Page */
.aboutPage {
    background: var(--secondary-color);
    position: relative;
    color: white;
    padding: 4rem 0;
    padding-bottom: 10%;
    margin-top: 20px;
}

.aboutTitle {
    margin: 0 0 4.5rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    animation: slideInFromTop 1s ease-in;
}

.aboutPage .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 100%;
}

.picOfMe {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: slideInFromBottom 1s ease-in;
}

.aboutText {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 19px;
    animation: slideInFromLeft 1s ease-in;
}

.aboutPage::before, 
.aboutPage::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--primary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    margin-bottom: 19px;

}

/* Projects Page */
.projectPage {
    background: var(--primary-color);
    position: relative;
    color: #333;
    /* color: white; */
    padding: 4rem 0;
    padding-bottom: 10%;
    /* margin-top: 20px; */
}

.projectTitle {
    margin: 0 0 4.5rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    animation: slideInFromTop 1s ease-in;
}

.trilogyText {
    animation: slideInFromBottom 1s ease-in;
}

.trilogyTitle {
    text-align: left;
    font-weight: 600;
}

.trilogyDescription {
    font-size: 19px;
}

#trilogyButton {
    background: var(--primary-color);
}

.trilogyPic {
    animation: slideInFromRight 1s ease-in;
}

.trilogyPic img {
    width: 400px;
    border-style: solid;
    height: 350px;
}

.projectPage::before, 
.projectPage::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--secondary-color);
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    margin-bottom: 19px;
    }

/* Contact Page */

.contactPage {
    background: var(--secondary-color);
    position: relative;
    /* color: var(--primary-color); */
    color: white;
    padding: 4rem 0;
    padding-bottom: 7%;
    text-align: center;
}

.contactTitle {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    animation: slideInFromTop 1s ease-in;
}

.contactDesc {
    margin: 0 0 1rem;
    text-align: center;
    animation: slideInFromLeft 1s ease-in;
}

.contactButton {
    margin-left: auto;
    margin-right: auto;
}

.contactButton button {
    background: white; 
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    color: black;
    border: 4px solid black;
    animation: slideInFromBottom 1s ease-in;
}

.contactButton button:hover {
    background: black;
    color: white;
}

/* End of Site */
.endOfSite {
    background: rgb(31, 31, 31);
    position: relative;
    color: white;
    padding: 4rem 0;
    text-align: center;

}

.socialIcons, .socialIcons a {
    color: white;
    display: flex;
    justify-content: center;
}

.socialIcons {
    flex-direction: row;
}

.socialIcons a {
    flex-direction: column;
    color: #fff;
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    margin: 1.6rem;
    transition: all .2s ease-in;
    text-decoration: none;
}

i.fab.fa-linkedin-in:hover {
    font-size: 3rem;
}

i.fa.fa-github.fa-inverse:hover {
    font-size: 3rem;
}


.developByMe h4 {
    font-size: 1rem;
}

hr {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 40%;
    border-top: 1.5px solid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0);
    }
} 

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0);
    }
} 

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateX(0);
    }
} 

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateX(0);
    }
} 

/* Tablets and under */
@media(max-width: 768px) {
    /* Home Page */
    .homePage::before, 
    .homePage::after {
        content: '';
        position: absolute;
        height: 0px;
        bottom: 0px;
        right: 0;
        left: 0;
        background: var(--secondary-color);
        transform: 0;
        -webkit-transform: 0;
        -moz-transform: 0;
        -ms-transform: 0;

    }

    /* About Page */
    .aboutPage::before, 
    .aboutPage::after {
        content: '';
        position: absolute;
        height: 0px;
        bottom: 0px;
        right: 0;
        left: 0;
        background: var(--primary-color);
        transform: 0;
        -webkit-transform: 0;
        -moz-transform: 0;
        -ms-transform: 0;
        margin-bottom: 0;

}

/* Project Page */
    .projectPage::before, 
    .projectPage::after {
        content: '';
        position: absolute;
        height: 0px;
        bottom: 0px;
        right: 0;
        left: 0;
        background: var(--secondary-color);
        transform: 0;
        -webkit-transform: 0;
        -moz-transform: 0;
        -ms-transform: 0;
        margin-bottom: 0;
    }
}


/* Mobile */
@media(max-width: 500px) {

    /* Home Page */
    .homePage::before, 
    .homePage::after {
        content: '';
        position: absolute;
        height: 0px;
        bottom: 0px;
        right: 0;
        left: 0;
        background: var(--secondary-color);
        transform: 0;
        -webkit-transform: 0;
        -moz-transform: 0;
        -ms-transform: 0;

    }
    /* About Page */
    .aboutTitle {
        margin: 0 0 2rem;
    }
    .aboutText {
        margin-top: 5px;
        text-align: center;
        font-size: 19px;
        width: 100%;
    }

    .picOfMe img {
        height: 320px;
        width: 290px;
    }

    .aboutPage::before, 
    .aboutPage::after {
        content: '';
        position: absolute;
        height: 0px;
        bottom: 0px;
        right: 0;
        left: 0;
        background: var(--primary-color);
        transform: 0;
        -webkit-transform: 0;
        -moz-transform: 0;
        -ms-transform: 0;
        margin-bottom: 0;

}

    /* Project Page */
    .projectTitle {
        margin: 0 0 2rem;
    }

    .trilogyTitle {
        font-size: 1.5rem;
    }

    #trilogyButton {
        background: var(--primary-color);
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .trilogyPic img {
        display: none;
    }

    .row {
        display: block;
    }

    .trilogyPic {
        border-style: none;
        display: none;
    }

    .trilogyDescription {
        font-size: 19px;
    }

    .projectPage::before, 
    .projectPage::after {
        content: '';
        position: absolute;
        height: 0px;
        bottom: 0px;
        right: 0;
        left: 0;
        background: var(--secondary-color);
        transform: 0;
        -webkit-transform: 0;
        -moz-transform: 0;
        -ms-transform: 0;
        margin-bottom: 0;
    }


}